.card-custom {
    width: 250px; /* Ancho fijo */
    height: 400px; /* Alto fijo */
    display: flex;
    flex-direction: column;
  }
  
  .card-custom .card-header {
    height: 50px; /* Ajusta según tus necesidades */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .card-custom .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card-custom img {
    height: 150px; /* Ajusta según tus necesidades */
    object-fit: cover;
  }
  